LayerDataReaderWriter.UnitTests/bin/
LayerDataReaderWriter.UnitTests/obj/
LayerDataReaderWriter/bin/
LayerDataReaderWriter/obj/
LevelEditor.BuiltinCanvasRenderers/bin/
LevelEditor.BuiltinCanvasRenderers/obj/
LevelEditor.BuiltinValidators/bin/
LevelEditor.BuiltinValidators/obj/
LevelEditor.Core/bin/
LevelEditor.Core/obj/
LevelEditor.Extensibility/bin/
LevelEditor.Extensibility/obj/
LevelEditor/bin/
LevelEditor/obj/
*.csproj.user
*.suo
CubeGameplayLogic/bin/
CubeGameplayLogic/obj/
CubeAssetsGenerator/CubeAssetsGenerator/bin/
CubeAssetsGenerator/CubeAssetsGenerator/obj/
bin/Debug/
bin/Release/
NuGetPackages/
packages/
bin/Delivery/
